body { 
    font-family: 'Inter', sans-serif; 
}

.list-container {
    max-height: 400px;
    overflow-y: auto;
    scrollbar-width: thin;
}

.list-container::-webkit-scrollbar { width: 8px; }
.list-container::-webkit-scrollbar-thumb {
    background-color: #475569;
    border-radius: 4px;
}

#chart-container {
    height: 350px;
}

#chart {
    width: 100% !important;
    height: 100% !important;
}
